name: checkupino

services:
  app:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: checkupino_app
    working_dir: /var/www
    volumes:
      - ./:/var/www
    depends_on:
      - db
      - redis
    environment:
      PHP_MEMORY_LIMIT: 512M
    networks:
      - checkupino_net

  nginx:
    image: nginx:alpine
    container_name: checkupino_nginx
    ports:
      - "8080:80"
    volumes:
      - ./:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - app
    networks:
      - checkupino_net

  db:
    image: mysql:8.0
    container_name: checkupino_db
    ports:
      - "3307:3306"
    environment:
      MYSQL_DATABASE: checkupino
      MYSQL_USER: checkupino
      MYSQL_PASSWORD: checkupino_pass
      MYSQL_ROOT_PASSWORD: root_pass
    volumes:
      - checkupino_db_data:/var/lib/mysql
    networks:
      - checkupino_net

  redis:
    image: redis:7-alpine
    container_name: checkupino_redis
    ports:
      - "6380:6379"
    networks:
      - checkupino_net

networks:
  checkupino_net:

volumes:
  checkupino_db_data:
